.navbar__container{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 1px 0 0 rgb(14 48 75 / 12%);
}
.navbar__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    height: 3.75rem;
    
    
}

.menu__section{
    display: flex;
    column-gap: 20px;
    color: #8f95a3;
    font-size: 1rem;
    
}

.menu{
    cursor: pointer;
}
.menu_selected{
    color: #0085e6;
}
.menu:hover{
    text-decoration: underline;
}
select{
    border: none;
    outline: none;
    color: #8f95a3;
    cursor: pointer;
    font-size: 1rem;


}